<!--smschat/CRU_template.html -->


<form id='form_smschat' method="post" 
      action="{{:renderInDiv}}#/cmd/post"
      >  
    <input type='hidden' name='div' value='{{:renderInDiv}}'>
    <input type='hidden' name='module_direct' value='smschat'>
    <input type='hidden' name='redirect' 
           value=' #/cmdc?module=smschat&action=/all/list'>
    <input type="hidden" name="id" data-link="id" />




    <div id="printableArea" style="margin-left: 0mm" 
         class="w3-container_akr"
         title="smschat_{{:id}}_{{:name}}">


        <div class="grid-container">
            <div class="item1">
                <div class="inp_outer" >
                    <div class="title1">ID</div>
                    <span class="label label-info "> {{:id}} </span> 
                </div>
                <br>

                <div class="inp_outer" >
                    <div class="title1">To</div>


                    {{for start=1 end=4 itemVar='~i'}}
                    <label class="containerForCheckMark" 
                           style="">

                        {{if ~i==1}}
                        doctor
                        {{/if}}

                        {{if ~i==2}}
                        patient
                        {{/if}}

                        {{if ~i==3}}
                        Others
                        {{/if}}
                        <input type="checkbox" name="toPhoneNumbers"  value="{{:~i}}" 
                               {{if ~includesAKR(~root.toPhoneNumbers,~i)}}
                               checked="checked"
                               {{/if}}

                               >
                        <span class="checkmark"></span>
                    </label>

                    {{/for}}

                </div>
                <br>

                <span
                      id="selectLarge_dateOfSending"
                      >
                    selectLarge_dateOfSending    
                </span>
                <br>



                <div class="inp_outer" style="min-width: 250px">
                    <div class="title1">body</div>
                    <textarea name="body" data-link="body" 
                              style="    margin: 0px;
                                     width: 457px;
                                     height: 141px;"
                              class="akr_input_text" required="">
                    </textarea>
                </div>
                <br>

                <div class="inp_outer" style="min-width: 250px">
                    <div class="title1">title</div>
                    <input type="text" name="title" data-link="title" 
                           class="akr_input_text" required="" />
                </div>
                <br>



            </div>
            <div class="item2">
                b
            </div>

            <div class="item3">


                <label class="containerForCheckMark" 
                       style="">
                    Draft
                    <input type="checkbox" name="draft"  
                           {{if draft}}
                           checked="checked"
                           {{/if}}

                           >
                    <span class="checkmark"></span>
                </label>
                <br>


                <div class="inp_outer" style="min-width: 250px">
                    <div class="title1">status</div>
                    <!--
<input type="text" name="status" data-link="status" 
class="akr_input_text" required="" />
-->

                    <select name="status" data-link="status" >
                        <option value="0" >FRESH</option>
                        <option value="1">WAITING</option>
                        <option value="2">FAILED</option>
                        <option value="3">SUCCESS</option>
                        <option value="4">PROCESSING</option>

                    </select>
                </div>
            </div>

        </div>








    </div>
</form>


<style>
    .item1 { grid-area: i1; 
        /*border: solid black 1px;*/
    }
    .item2 { grid-area: i2;
        /*border: solid black 1px;*/
    }
    .item3 { grid-area: i3;
        /*border: solid black 1px;*/
    }


    .grid-container {
        display: grid;
        grid-template-areas:
            'i1 i2 i3'

            ;
        grid-gap: 10px;
        /*background-color: #2196F3;*/
        padding: 10px;
    }


</style>

