<br>
<span >
<a class='headerSortSymbol' 
   tabindex="-1"
   href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn={{:name}}&sortOrder=a&template={{:obj.template}}"
   >
    <span class=" {{if obj.sortColumn==name }}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
        <i class="fa fa-caret-up headerSortSymbol "></i>
    </span>
</a>

<a class='headerSortSymbol'
   tabindex="-1"
   href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn={{:name}}&sortOrder=d&template={{:obj.template}}"
   >
    <span class=" {{if obj.sortColumn==name }}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
        <i class="fa fa-caret-down headerSortSymbol"></i>
    </span>
</a>
<!--    <button>
    item {{:obj.template}}
    </button>-->
   
</span>