
<div class="pageTitle">{{if id==0}} New  {{else}}
    Existing ID: {{:id}} {{/if}}  </div>

<form id='form_pharmacyBillRow' method="post" action="#/cmd/post">
    <input type='hidden' name='module_direct' value='pharmacyBillRow'>
    <input type='hidden' name='redirect' value=' #/cmdc?module=pharmacyBillRow&action=/all/list'>
    <input type="hidden" name="id" data-link="id" />
    <br>
    
    
     <div id="printableArea" style="margin-left: 0mm" title="patient_{{:id}}_{{:name}}">
      
    id {{:id}} <br>
    <div class="inp_outer" onclick="popup_selection('pharmacyBill')">
        <div class="title1"   > pharmacyBill</div>
        {{if pharmacyBill!=null }}
        <input  type="hidden" id="pharmacyBill" name="pharmacyBill" 
                value="{{:pharmacyBill.id}}"  />
        <span id="pharmacyBill_display">     
            {{:pharmacyBill.id}}         
        </span>

        {{else}}
        <input  type="hidden" id="pharmacyBill" name="pharmacyBill" 
                />
        <span id="pharmacyBill_display">     
            Not set                
        </span>

        {{/if}}   

    </div>

    <div class="inp_outer" onclick="popup_selection('medicineStock')" >
        <div class="title1"    >medicineStock</div>
        {{if medicineStock!=null}}
        <input  type="hidden" id="medicineStock" name="medicineStock" 
                value=" {{:medicineStock.id}}"/>
        <span id="medicineStock_display">     
            {{:medicineStock.id}}_ {{:medicineStock.medicineBrandName.brandName}}
        </span>

        {{else}}
        <input  type="hidden" id="medicineStock" name="medicineStock" 
                />
        <span id="medicineStock_display">     
            Not set
        </span>
        {{/if}}


    </div>


    <div class="inp_outer">
        <div class="title1">qty</div>
        <span class="inp2" contenteditable="true" id="qty"   data-link="qty" 
              onkeydown="calculateAmount(1)" 
              >---</span>
        <input type="hidden" name="qty" data-link="qty" onkeydown="calculateAmount(1)" />
    </div>




    <div class="inp_outer" onclick="calculateAmount(1)">
        <div class="title1">amount</div>
        <span class="inp2" contenteditable="false" id="amount_disp"   data-link="amount" 

              >---</span>
        <input type="hidden" id="amount" name="amount" data-link="amount" />
    </div>


     </div>
</form>

