  :root{
    --color_l5:#f0f4f8 ;
    --color_l5p2:#e4e8ec ;
    
    --color_l4:#cddbe7 ;
    --color_l3:#9bb7d0 ;
    --color_l3p5:#c5d4e0;
    --color_l2:#6993b8 ;
     --color_l2p5:#a9c4dc ;
    
    --color_l1:#456f93 ;
    --color_l0:#2e4a62 ;
    --color_d1:#294257 ;
    --color_d2:#253a4e ;
    --color_d3:#203344 ;
    --color_d4:#1b2c3a ;
    --color_d5:#172531 ;
    --color_green:darkcyan;
    --color_blue:#33bdac;
    --color_bg:#bfd1e0;
--blueEco_web: #0079c2;
--greenEco_web: #93ce45;
--orangeEco_web: #fe7800;
}

form bg blue d9eff6