
<div class="pageTitle">{{if id==0}} New  {{else}} Existing  : {{:name}} {{/if}}  </div>
<form id='form_pharmacyBill' method="post" action="#/cmd/post">
    <input type='hidden' name='redirect' value=' #/cmdc?module=pharmacyBill&action=/all/list'>
    <input type='hidden' name='module_direct' value='pharmacyBill'>
    <input type="hidden" name="id" data-link="id" />
    <br>
    ID: <span class="rounded"
              title="ഇതാണ്  ബില്ല്  നമ്പർ "
              >{{:id}} </span>
    <br><br>



    <div class="inp_outer"
         title="എന്നാണ്  ബില്ല്   അടിച്ചത് "
         onclick="popup_selection_obj(
             {
             'value': '{{:dateOfBill}}',
                     'entity_select': 'dateForOrganisation',
                     'input': 'dateOfBill'
             }
             )"
         >
        <div class="title1" >
            dateOfBill
        </div>
        <span id="dateOfBill_display" class="inp2">{{:dateOfBill}}</span>
        <input id="dateOfBill" type="hidden" name="dateOfBill" data-link="dateOfBill" />
    </div>


    <div class="inp_outer"
         title="ഒരു അപ്പോയ്ന്റ്മെന്റ്   സെലക്ട്  ചെയ്യുക "
         onclick="popup_selection_obj(
             {
             'entity_select': 'appointment',
                     'input': 'appointment'
             }
             )"
         >
        <div class="title1"   > appointment</div>
        {{if appointment!=null }}
        <input  type="hidden" id="appointment" name="appointment" 
                value="{{:appointment.id}}"  />
        <span id="appointment_display" class="inp2">     
            No: {{:appointment.id}}--- 
            {{:appointment.dateOfAppointment}} ---
            <b style="font-size: 20px;background-color: var(--color_l4);padding:5px;margin:10px">{{:appointment.patient.name}}</b>
            --
            {{:appointment.doctor.name}}
        </span>
        {{else}}
        <input  type="hidden" id="appointment" name="appointment" />
        <span id="appointment_display">     
            Not set                
        </span>
        {{/if}}    
    </div>
    <br>
    <div class="inp_outer" title="വേറെ  വിശേഷം വല്ലതും ഉണ്ടോ ?" 
         style="min-width: 400px;min-height: 50px">
        <div class="title1"   >  Remarks</div>
        <span class="inp2" contenteditable="true" id="remarks"   data-link="remarks" >---</span>
        <input type="hidden" name="remarks" data-link="remarks" />
    </div>
 {{if appointment!=null }}
    <button class="w3-button dsc_green"
            style="float: none"
            title="medicines "
            onclick="pharmacyCashBill.render_list({{:id}}, 'main1_inner')"
            > 
        <i class="fa590akr fa-capsules" ></i>
    </button>
 {{/if}}

</form>

<div id="main1_innert"> cashBill_inbuilt</div>

