
<div id="printableArea"   title="PharmacyBill_List" >
    <center>
        <table border="0">
            <tbody>
                <tr>
                    <td colspan="3">
            <center>
                <table >
                    <tbody>
                        <tr>
                            <td>
                    <center>

                        <span style="font-size:30px;text-align:left;font-weight: bold">
                            DOCTORS SPECIALITY CENTRE <br>
                        </span>

                        <span style="font-size:14px;text-align:center;">
                            36/5588, USHUS THIRUVAMBADY,
                            PATTURAIKKAL JN ,THRISSUR -680022 <br>
                        </span>

                        <span style="font-size:14px;text-align:center;">
                            Website: &nbsp; www.doctorsspecialitycentre.com &nbsp;&nbsp;
                            email : &nbsp; doctorsspecialitycentre@gmail.com &nbsp;&nbsp;
                            <br>
                            Phone &nbsp;<i class="fa fa-phone-square"></i> &nbsp;8592918888 

                        </span>

                    </center>


                    </td>
                    </tr>
                    </tbody>
                </table>
            </center>  
           
            </td>
 <hr>
            </tr>

            <tr>
                <td class="gstSpacing">
                    GST#:432423423434              
                </td>
                <td class="gstSpacing">
                    DL No:KL-TSR-117933
                </td>
                <td class="gstSpacing">
                    DL Date: 07/01/2017
                </td>
            </tr>
            </tbody>
        </table>

        {{if obj.pharmacyBillRowEntitys[0]}}

        <hr>
        <table border="0" cellspacing="0" cellpadding="0" class="Table1">
            <colgroup><col width="248"><col width="248"><col width="248"></colgroup>
            <tbody>
                <tr>
                    <td  class="Table1_A1">
                        Bill No &nbsp;: 

                        {{:obj.pharmacyBillRowEntitys[0].pharmacyBill.id}} 



                    </td>
                    <td  class="Table1_A1">
<!--                        Ref# No : -->
                        <span class="T1">


                        </span>
                    </td>
                    <td  class="Table1_A1">

                        {{if obj.pharmacyBillRowEntitys[0]}}
                        Bill Date :
                        {{:obj.pharmacyBillRowEntitys[0].pharmacyBill.dateOfBill}} 

                        {{else}}
                        <h1>Pharmacy Bill Row not exist</h1> 
                        {{/if}}

                    </td>
                </tr>
                <tr>
                    <td  class="Table1_A2">
                        Patient : 
                        <span class="T1"> {{:obj.pharmacyBillRowEntitys[0].pharmacyBill.appointment.patient.name}} </span>

                    </td>
                    <td  class="Table1_A2">

                    </td>
                    <td  class="Table1_A2">
                        Doctor : 
                        <span class="T1"> {{:obj.pharmacyBillRowEntitys[0].pharmacyBill.appointment.doctor.name}} </span>

                    </td>
                </tr>
            </tbody>
        </table>

        {{else}}
        <h1>Pharmacy Bill Row not exist</h1> 
        {{/if}}
        <div id="oneRowInEdit"></div>
        <hr>
        <div class="Table">
            <div class="Title">
                RETAIL BILL


            </div>

            <div class="Heading">


                <div class="Cell"><ayu1>item/ BrandName</ayu1></div>
                <div class="Cell"><ayu1>Mfg</ayu1></div>

                <div class="Cell"><ayu1>Batch</ayu1></div>
                <div class="Cell"><ayu1>Exp</ayu1></div>
                <div class="Cell"><ayu1>Qty</ayu1></div>
                <!--<div class="Cell"><ayu1>Rate</ayu1></div>-->
                <!--<div class="Cell"><ayu1>Dis%</ayu1></div>-->
                <div class="Cell"><ayu1>GST</ayu1></div>
                <div class="Cell"><ayu1>MRP</ayu1></div>
                <div class="Cell"><ayu1>Amount</ayu1></div>
            </div>
            {{for obj.pharmacyBillRowEntitys}}

            <div class="Row"    id="row_{{:id}}" onclick="pharmacyCashBill.onRowSelect({{:id}})">





                {{if medicineStock}}



                <div class="Cell">
                    <ayu1>

                        {{:medicineStock.medicineBrandName.brandName}}
                    </ayu1>        
                </div>
                <div class="Cell">            <ayu1>
                        {{:medicineStock.medicineBrandName.company}}
                    </ayu1>        </div>

                <div class="Cell">            <ayu1>
                        {{:medicineStock.batch}}
                    </ayu1>        </div>
                <div class="Cell">            <ayu1>

                        {{:~expiryFormat1(medicineStock.expiryDate)}}

                    </ayu1>        </div>
                <div class="Cell">            <ayu1>{{:qty}} </ayu1>        </div>

<!--                <div class="Cell">            <ayu1>
                        {{:medicineStock.rate}}
                    </ayu1>
                </div>-->
                
                
<!--                <div class="Cell">            <ayu1>
                        {{:medicineStock.discount}}
                    </ayu1>        </div>-->


                <div class="Cell">            <ayu1>
                        {{:medicineStock.gst}}
                    </ayu1>        </div>
                <div class="Cell">            
                    <ayu1>
                        {{:medicineStock.mrp}}
                    </ayu1>        </div>

                <div class="Cell">            
                    <ayu1>
                        {{:amount}}
                    </ayu1>        
                </div>

                {{else}}
                <div class="Cell" >
                    <ayu1>
                        <a  class=" w3-theme-d1" >
                            <i class="fa fa-plus-circle w3-btn"> 2.Edit Row (കാലി  വരിയെ  മരുന്നാക്കാം )</i>
                            
                        </a>
                             
                    </ayu1>
                </div>




                {{/if}}






            </div>




            {{/for}}
            <div class="Heading">

                <div class="Cell"></div>
                <div class="Cell"></div>
                <div class="Cell"></div>
                <div class="Cell"></div>
                <!--<div class="Cell"></div>-->
<!--                <div class="Cell"></div>-->

                <div class="Cell"></div>
                <div class="Cell" style="font-size: 14px;">{{:obj.gstTotal}}</div>
                <div class="Cell"  style="font-size: 14px;">{{:obj.mrpTotal}}</div>
                <div class="Cell"  style="font-size: 14px;">{{:obj.amountTotal}}</div>

            </div>
        </div>


        <table >
            <tbody>
                <tr>
                    <td>
                        Taxable Amount :
                    </td>
                    <td style="text-align: right">
                        {{:obj.taxableAmount}}  ,
                    </td>
                    <td style="text-align: right">
                        CGST : 
                    </td>
                    <td style="text-align: right">
                        {{:obj.gstTotal/2}},
                    </td>

                    <td style="text-align: right">
                        SGST :  
                    </td>
                    <td style="text-align: right">
                        {{:obj.gstTotal/2}}
                    </td>
                </tr>


            </tbody>
        </table>
        
        Total Item(s) : {{:totalItems}} ,
        Paid Amount :  <span style="font-weight: bold;font-size: 18px">{{:obj.amountTotal}}</span>
(
        {{:obj.amountTotalWords}}  )
        <br>
        <span style="right: 100px;
    position: absolute;">{{:pharmacistName}}  (Pharmacist)</span>
        
        <br>
        <span colspan="3" style="text-align: center">
            <!--We provided Rs.{{:obj.freeOfCost}}  value(s) items free of Cost.-->
        </span>


    </center>
</div>
<br>