<!--select_patient/list.html-->


<div 
    data-akr-printable="false"
    >
    <div class="w3-bar-ay"  >

        <a class="w3-bar-item tablink tabSelected " 
           onClick="openCity(event, 'none')">None</a>

        <a class="w3-bar-item  tablink " 
           onClick="openCity(event, 'filter')">
            <i class="fa fa-filter"></i>
            Filter</a>


        <a class="w3-bar-item tablink " 
           onClick="openCity(event, 'bulk')">Bulk</a>

        <a class="w3-bar-item tablink " 
           onClick="openCity(event, 'Reports')">Reports</a>

    </div>

    <div id="none" class="w3-container_margin10 city ">
    </div>

    <div id="filter" class="w3-container_margin10 city city_hide ">


        <span id='selectLarge_patient_1'>
            selectLarge_patient_1</span>




        <input type="button" 
               style="display: none"
               id='patient_afterClick'

               onclick="window.location.href = '#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=patient&filter=' + document.getElementById('patient').value + ''"
               >

        <span id='selectLarge_doctor_1'>
            selectLarge_doctor_1</span>




        <input 
            id='doctor_afterClick'
            type="button" value="Go "
            style="display: none"
            onclick="window.location.href = '#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=doctor&filter=' + document.getElementById('doctor').value + ''"
            >
        <button class='w3-btn w3-green'
                id='doctor_afterClick'
                title="No filter "
                type="button"
                onclick="window.location.href = '#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=undefined&filter=undefined'"
                >
            <i class="fa fa-filter">x</i>           
        </button>


        <a  target='iframe1'
            onclick="popup_selection_obj(
                {
                'entity_select': 'appointment',
                        'input': 'appointment'
                }
                )"
            class="akr_nav_item_iconised " title="Appointments">
            <i class="fa fa-calendar"></i> 
            <i class="fasub fa-list" ></i> 
        </a> 


        <br>
        Filter:  
        <span data-link="obj.filterColumn" style="font-weight: bold"></span>


        {{if obj.filterColumn=='doctor'}}  
        <!--{{obj.pageList.content[0].doctor.name }}--> 

        {{else}}

        {{/if}}
        ID: 
        <span data-link="obj.filter" style="font-weight: bold"></span>


    </div>

    <div id="bulk" class="w3-container_margin10 city city_hide">

        <input type="submit" value="Bulk Delete"
               form='form_appointment/deleteBulk'
               onclick="window.location.href = '#/dummy?a=3'"
               >

    </div>  


    <div id="Reports" class="w3-container_akr city city_hide">

        <a target="iframe1" href="/clinicPlus/home.html#/cmd?module=appointment&action=/all/list&pageNumber=1&div=main_1&template=incomeFromDoctors" class="w3-button2" title="MediBrandNames">
            Report 2
        </a>

    </div> 

    <hr>

</div>

<div class="w3-container">
    <form id='form_appointment/deleteBulk' 
          method="post" 
          action="{{:renderInDiv}}#/cmd/post"> 
        <input type='hidden' name='module_direct'
               value='appointment/deleteBulk'>
        <input type='hidden' name='redirect' 
               value=' #/cmdc?module=doctor&action=/all/list'>

        <div id="printableArea"   title="Appointment_List" >

            <span class="darkBgHeading">
                List of Appointments in DSC
            </span>



            <table  class="customers"
                    cellspacing="0" cellpadding="5" border="1"  >


                <thead style="    font-size: 12px;">
                    <tr class="bluestrp">
                        <th></th> 
                        <th></th>
                        <th>SLNo</th>
                        <th>id
                            {{:~sortByColumnUI('id',obj)}}
                        </th>
                        <th>
                            book Id
                            {{:~sortByColumnUI('bookId',obj)}}
                        </th>
                        <th style="min-width: 77px">
                            date Of Appt

                            {{:~sortByColumnUI('dateOfAppointment',obj)}}
                        </th>
                        <th style="min-width: 150px">
                            Doctor
                            {{:~sortByColumnUI('doctor',obj)}}
                        </th>
                        <th style="min-width: 150px" >
                            Patient
                            {{:~sortByColumnUI('patient',obj)}}
                        </th>

                        <th>status

                            {{:~sortByColumnUI('appointmentStatusEntity',obj)}}

                        </th>

                        <th>type

                            {{:~sortByColumnUI('appointmentTypeEntity',obj)}}
                        </th>
                        <th>remarks

                            {{:~sortByColumnUI('remarks',obj)}}
                        </th>
                        <th>token No:
                            {{:~sortByColumnUI('tokenNumber',obj)}}
                        </th>
                        <th>consult Fee

                            {{:~sortByColumnUI('consultFee',obj)}}
                        </th>
                        <th>reg fee
                            {{:~sortByColumnUI('feeForClinic',obj)}}

                        </th>


                    </tr>
                </thead>

                <tbody >


                    {{for obj.pageList.content}}

                    <tr class="firstrow">
                        <td>
                            <input type="checkbox"
                                   id="checkbox_{{:id}}"
                                   class="regular-checkbox" 
                                   name="n"  value="{{:id}}">
                            <label for="checkbox_{{:id}}"></label>
                        </td>
                        <td>
                            <div  data-akr-printable="false"

                                  onclick="populateCreate2('appointment', {{:id}}, newModal().id);"
                                  onclick2="go({{:id}}, 'appointment')"
                                  >
                                <i class="fa fa-pencil">

                                </i>
                            </div>
                        </td>
                        <td
                            onclick="go({{:id}}, 'appointment')"

                            >{{:#index+1}}</td>







                        <td
                            onclick2="go({{:id}}, 'appointment')"
                            >{{:id}}


                        </td>
                        <td
                            onclick="go({{:id}}, 'appointment')"
                            >{{:bookId}}</td>
                        <td
                            onclick="go({{:id}}, 'appointment')"
                            >
                            {{:~ddmmyyyyDashed(dateOfAppointment) }}

                        </td>
                        <td 
                            onclick="go({{:id}}, 'appointment')"
                            >
                            {{if doctor!=null}}
                              {{:doctor.name}}
<!--                            <table border="1" class="nameplate">
                                <tbody>
                                    <tr>
                                        <td colspan="2"
                                            style="font-weight: bold"
                                            >
                                            {{:doctor.name}}
                                        </td>
                                    </tr>
                                    <tr colspan="2">
                                        <td>{{:doctor.department}}</td>
                                        

                                    </tr>
                                    
                                     <tr >
                                        
                                        <td colspan="2">
                                            <i class="fa fa-phone"></i>
                                            : {{:doctor.contactPhone}}
                                        </td>

                                    </tr>
                                    <tr >
                                        <td colspan="2">
                                        <i class="fa fa-envelope-open"></i> {{:doctor.email}}  
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->

                          


                            {{else}}
                            Not set
                            {{/if}}

                        </td>

                        <td style="text-align: left"
                            onclick="go({{:id}}, 'appointment')"
                            >

                            {{if patient!=null}}
                            {{:patient.name}}
<!--                            <table border="1" class="nameplate" >
                                <tbody>
                                    <tr>
                                        <td colspan="2"  style="font-weight: bold">
                                            {{:patient.name}}
                                        </td>
                                    </tr>
                                    <tr >
                                      <td >  Age: {{:patient.age}}</td>
                                        <td>ID: {{:patient.id}}</td>

                                    </tr>
                                    
                                     <tr >
                                        
                                         <td colspan="2"><i class="fa fa-phone"></i>
                                            : {{:patient.contactPhone}}
                                        </td>

                                    </tr>
                                    <tr >
                                        <td colspan="2">
                                        <i class="fa fa-envelope-open"></i>
                                        {{:patient.email}}  
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->

                           


                            {{else}}
                            Not Set
                            {{/if}}

                        </td>

                        <td 
                            onclick="go({{:id}}, 'appointment')"
                            >
                            {{if appointmentStatusEntity!=null}}
                            <span class="marker_{{:appointmentStatusEntity.id}} rounded">{{:appointmentStatusEntity.name}}</span>

                            {{/if}}
                        </td>
                        <td
                            onclick="go({{:id}}, 'appointment')"
                            > {{if appointmentTypeEntity!=null}}
                            <span class="marker_{{:appointmentTypeEntity.id}} rounded">
                                {{:appointmentTypeEntity.name}}
                            </span>

                            {{/if}}
                        </td>
                        <td
                            onclick="go({{:id}}, 'appointment')"
                            >{{:remarks}}</td>

                        <td
                            onclick="go({{:id}}, 'appointment')" 
                            >{{:tokenNumber}}</td>

                        <td
                            onclick="go({{:id}}, 'appointment')"
                            >{{:consultFee}}</td>
                        <td
                            onclick="go({{:id}}, 'appointment')" 
                            >{{:feeForClinic}}</td>



                    </tr>
                    {{else}}
                    No members...
                    {{/for}}
                </tbody>


            </table>







        </div>

    </form>
</div>

