<!--select_patient/list.html-->


<div 
    data-akr-printable="false"
     >
<div class="inp_outer" style="min-width: 200px">
 ID   <input id="patient" name='patient' type="text"  value="" >  Or
    <div class="inp1" 
         onclick="popup_selection_obj(
             {
             'entity_select': 'patient',
                     'input': 'patient'
             }
             )"
         >

        <div class="title1">Patient Name </div>
        <span id='patient_display' class="inp2">
Click Here
        </span>
       
    </div>
  <input type="button" value="Go "
       onclick="window.location.href = '#/cmd?module={{:obj.module}}&action=/all/list&pageNumber={{:obj.pageList.pageable.pageNumber+1}}&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=patientName&filter=' + document.getElementById('patient').value + ''"
       >
</div>
    </div>

<hr>


<div id="printableArea"   title="Appointment_List" >
    List of Appointments in DSC
    <table  class="table_greyBorder" cellspacing="0" cellpadding="5" border="1"  style="width:85%;">


        <thead>
            <tr class="bluestrp">

                <th>id
                    <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=id&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='id'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=id&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='id'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>


                </th>
                <th>bookId
                    <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=bookId&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='bookId'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=bookId&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='bookId'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>


                </th>
                <th style="min-width: 180px">Doctor
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=doctor&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='doctor'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=doctor&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='doctor'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>




                </th>
                <th style="min-width: 180px" >Patient
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=patient&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='patient'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=patient&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='patient'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>


                </th>
                <th>date Of Appointment
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=dateOfAppointment&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='dateOfAppointment'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=dateOfAppointment&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='dateOfAppointment'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>

                </th>
                <th>status
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=appointmentStatusEntity&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='appointmentStatusEntity'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=appointmentStatusEntity&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='appointmentStatusEntity'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>


                </th>
                <th>type
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=appointmentTypeEntity&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='appointmentTypeEntity'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=appointmentTypeEntity&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='appointmentTypeEntity'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>

                </th>
                <th>consultFee
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=consultFee&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='consultFee'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=consultFee&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='consultFee'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>

                </th>
                <th>feeForClinic
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=feeForClinic&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='feeForClinic'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=feeForClinic&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='feeForClinic'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                </th>
                <th>tokenNumber
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=tokenNumber&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='tokenNumber'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=tokenNumber&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='tokenNumber'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>


                </th>

            </tr>
        </thead>
        <tbody>

            {{for obj.pageList.content}}

            <tr class="firstrow"
                onclick="go({{:id}}, 'appointment')"
                >


                <td>{{:id}}</td>
                <td>{{:bookId}}</td>
                <td style="width:200px">
                    {{if doctor!=null}}


                    <span style="width:200px"> {{:doctor.name}} </span>


                    {{else}}
                    Not set
                    {{/if}}

                </td>

                <td style="width:200px">
                    {{if patient!=null}}


                    {{:patient.name}} <br>(
                    <span class="">{{:patient.age}} y</span>)



                    {{else}}
                    Not Set
                    {{/if}}

                </td>
                <td>{{:dateOfAppointment}}</td>
                <td >
                    {{if appointmentStatusEntity!=null}}
                    <span class="marker_{{:appointmentStatusEntity.id}} rounded">{{:appointmentStatusEntity.name}}</span>

                    {{/if}}
                </td>
                <td> {{if appointmentTypeEntity!=null}}
                    <span class="marker_{{:appointmentTypeEntity.id}} rounded">{{:appointmentTypeEntity.name}}</span>

                    {{/if}}
                </td>
                <td>{{:consultFee}}</td>
                <td>{{:feeForClinic}}</td>
                <td>{{:tokenNumber}}</td>


            </tr>
            {{else}}
            No members...
            {{/for}}
        </tbody>


    </table>
</div>

 <!--{{:~jsonise(~root)}}-->