
<div data-akr-printable="false" class="w3-container">

    <div class="inp_outer" style="min-width: 200px">
        <div class="inp1" >
            <div class="title1">
                <i class="fa fa-filter " style="font-size: 0.9em" ></i>
                name </div>
        </div>


        <input id="name" 
               name='name' 
               type="text"  value=""
               accesskey="q"
               onkeypress="filter1()"
               data-href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber={{:obj.pageList.pageable.pageNumber+1}}&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=name&filter="

               autofocus
               > 
    </div>

    <div class="inp_outer" style="min-width: 200px">
        <div class="inp1" >

            <div class="title1">
                <i class="fa fa-filter" style="font-size: 0.9em"></i>
                contactPhone </div>
        </div>

        <input id="contactPhone" 
               name='contactPhone' 
               type="text"  value=""
               accesskey="q"
               onkeypress="filter1()"
               data-href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber={{:obj.pageList.pageable.pageNumber+1}}&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=contactPhone&filter="

               autofocus
               > 

    </div>

    <a href="#/cmd?module={{:obj.module}}&action=/all/list&amp;pageNumber=1" 
       title="No filter"

       > 
        <i class="fa fa-filter">x</i> 
    </a>

</div>
<br>

<div id="printableArea"   title="Patient_List" class='w3-container' >
    <!--<p class="pageTitle">Patients</p>-->

    <table class="table_greyBorder"  cellspacing="0" cellpadding="5" border="1"  >

        <thead>
            <tr class="bluestrp">
                <th>id
                    {{:~sortByColumnUI('id',obj)}}
                </th>
                <th>fixedId
                    {{:~sortByColumnUI('id',obj)}}
                </th>


                <th >
                    bookId
                    {{:~sortByColumnUI('id',obj)}}</th>

                <th style="min-width: 100px">
                    dateOf registration
                    {{:~sortByColumnUI('dateOfRegistration',obj)}}
                </th>

                <th>age
                    {{:~sortByColumnUI('age',obj)}}
                </th>

                <th>sex
                    {{:~sortByColumnUI('sex',obj)}}
                </th>

                <th>Name
                    {{:~sortByColumnUI('name',obj)}}
                </th>

                <th>Place
                    {{:~sortByColumnUI('place',obj)}}
                </th>

                <th>dob
                    {{:~sortByColumnUI('id',obj)}}
                </th>

                <th>Phone
                    {{:~sortByColumnUI('contactPhone',obj)}}
                </th>



                <th>Remarks
                    {{:~sortByColumnUI('remarks',obj)}}
                </th>

                <th class="dontPrint">Actions</th>

            </tr>
        </thead>
        <tbody>

            {{for obj.pageList.content}}

            <tr class="firstrow"

                >


                <td onclick="copyToClipBoardValue('{{:id}}')">
                    <span >

                        {{:id}}
                    </span>

                </td>
                <td
                    onclick="go({{:id}}, 'patient')"
                    >{{:fixedId}}</td>
                <td
                    onclick="go({{:id}}, 'patient')" 
                    >{{:bookId}}</td>
                <td
                    onclick="go({{:id}}, 'patient')"
                    >
                    {{:~ddmmyyyyDashed(dateOfRegistration) }}


                </td>
                <td
                    onclick="go({{:id}}, 'patient')" 
                    >{{:age}}</td>
                <td
                    onclick="go({{:id}}, 'patient')"
                    >
                    {{if sex=='M' }} <i class="fa fa-mars"></i> {{/if}}
                    {{if sex=='F' }} <i class="fa fa-venus"></i> {{/if}}
                    {{if sex=='T' }} <i class="fa fa-transgender"></i> {{/if}}
                </td>
                <td 
                    onclick="go({{:id}}, 'patient')"
                    >
                    <span  >     
                        {{:name}}
                    </span>
                </td>
                <td
                    onclick="go({{:id}}, 'patient')"
                    >{{:place}}</td>

                <td
                    onclick="go({{:id}}, 'patient')"
                    >{{:dob}}</td>

                <td
                    onclick="go({{:id}}, 'patient')"
                    >{{:contactPhone}}</td>

                <td
                    onclick="go({{:id}}, 'patient')"
                    >{{:remarks}}</td>
                <td class="dontPrint">
                    <i class="fa fa-edit"

                       > </i>



                </td>
            </tr>
            {{else}}
            No members...
            {{/for}}
        </tbody>


    </table>
</div>