
<div class='w3-container'>
<div 
    data-akr-printable="false"
    >
 
    <div class="inp_outer" style="min-width: 200px">
        <div class="inp1" >
            <div class="title1">Appointment ID </div>
        </div>

        <!--2onkeyup="document.getElementById('afterClick_appointment').click()"-->
        <input id="appointment" 
               name='appointment' type="text"  value="" 
               style="height: 50px;height: 25px;width: 89px;"

               data-href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber={{:obj.pageList.pageable.pageNumber+1}}&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=appointment&filter="
               onkeyup="filter1()"
               > 

    </div>

    <div class="inp_outer" style="min-width: 200px">
        <div class="inp1" >
            <div class="title1">patientName </div>
        </div>
        <input id="patientName" 
               onkeyup="filter1()"

               type="text"  
               value=""
               accesskey="q"
               data-href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber={{:obj.pageList.pageable.pageNumber+1}}&sortColumn={{:obj.sortColumn}}&sortOrder={{:obj.sortOrder}}&filterColumn=patientName&filter="
               > 

    </div>


    <a href="#/cmd?module={{:obj.module}}&action=/all/list&amp;pageNumber=1" 
       class=""> 

        <i class="fa fa-filter">x</i>
    </a>


</div>

<hr>


<div id="printableArea"   title="PharmacyBill_Profile" >
    <div class="Table table_greyBorder"  class="table_greyBorder" >

        <div  class="Heading bluestrp">
            <div class="Cell">Sl <br> No</div>

            <div class="Cell">
                Bill No
                 {{:~sortByColumnUI('id',obj)}}
                
            </div>


            <div class="Cell" style="min-width: 80px;font-size: 0.8em">
                Bill Date
                 {{:~sortByColumnUI('dateOfBill',obj)}}
               
            </div>



            <div class="Cell" >appt No
                 {{:~sortByColumnUI('appointment_id',obj)}}
                
            </div>


            <div class="Cell" style="min-width: 90px" >appt Date
                 {{:~sortByColumnUI('appointment_dateOfAppointment',obj)}}
            
            </div>


            <div class="Cell" >appt Patient
                 {{:~sortByColumnUI('appointment_patient_name',obj)}}
              

            </div>
            
            <div class="Cell" style="min-width: 180px"  >
                appt Doctor
                 {{:~sortByColumnUI('appointment_doctor_name',obj)}}
            
            </div>
            
            <div class="Cell" style="min-width: 100px">actions</div>
            
            <div class="Cell">remarks
                 {{:~sortByColumnUI('remarks',obj)}}

            </div>

        </div>
 
<div class="Row" 
      accesskey="l"
    
     tabindex="0" ></div>
        
        {{for obj.pageList.content}}
        {{if id!=0}}
        
        <div class="Row" 
             onclick="go({{:id}}, 'pharmacyBill')"
             
             class="firstrow">
            <div class="Cell" >
                {{:#getIndex()+1}}
                    
            </div>
            
            <div class="Cell" 
                 style="height: 30px"
                 >
                <button >
                      {{:id}}
                </button>
               
            </div>
            <div class="Cell"  style="font-size: 0.8em">
                {{:dateOfBill}}
            </div>
            <!--<div class="Cell" style="min-width: 85px">{{:dateOfBill}}</div>-->

            {{if appointment}}
            <div class="Cell">{{:appointment.id}}</div>
            <div class="Cell">{{:appointment.dateOfAppointment}}</div>
            <div class="Cell" >{{:appointment.patient.name}}</div>
            <div class="Cell">{{:appointment.doctor.name}}</div>


            {{else}}
            <!--<div class="Cell" colspan="4"></div>-->
            <div class="Cell" style="min-width: 100px">
                <button class="w3-btn" style="width: 100%;height: 100%"
                        onclick="go({{:id}}, 'pharmacyBill')">
                    nil
                </button>
            </div>
            <div class="Cell"></div>
            <div class="Cell"></div>
            <div class="Cell"></div>
            {{/if}}


            <div class="Cell">



            </div>
            <div class="Cell" style="min-width: 150px">{{:remarks}}</div>



        </div>  
        {{/if}}
        {{else}}
        No members...
        {{/for}}

    </div>
</div>

</div>



<style>
    .td3{
        font-size: 10px;
        text-align: right;
        padding-right: 12px;
    }

</style>