<div id="printableArea"   title="Jote_List" >
    
    



    <p style="font-size: 24px; font-weight: bold; text-align: justify">Patient</p>
    Page <span class="w3-badge">{{:obj.pageable.pageNumber+1}}</span>  of {{:obj.totalPages}}
    
    {{for start=1 end=obj.totalPages+1  itemVar='~page' }}
    <a {{if false}} class="pageNumberButtonSel" {{else}}  class="pageNumberButton" {{/if}}  href="#/cmd?module=jote&action=/all/list&pageNumber={{:~page}}"> {{:~page}}</a>
    {{/for}}
    <br>
    {{if obj.pageable.pageNumber>0}}
    <a class="pageNumberButton" href="#/cmd?module=jote&action=/all/list&pageNumber={{:obj.pageable.pageNumber+0}}">Prev</a>
    {{else}}
    --
    {{/if}}
     {{if obj.pageable.pageNumber< obj.totalPages-1}}
    <a class="pageNumberButton" href="#/cmd?module=jote&action=/all/list&pageNumber={{:obj.pageable.pageNumber+2}}">Next</a>
      {{/if}}
<table >
    
            <thead>
        <tr>
            <!--<th></th>-->
<!--            <th>id</th>-->
            <th>rid</th>
            <th>title_____________</th>
            <th>category</th>
          
             <th>status</th>
            
        </tr>
        </thead>
        <tbody>

        {{for obj.content}}
      
         <tr onclick="go({{:id}})">
             <!--<td> <img class='img_round' src='/clinicPlus/images/dsc/doctors/id_{{:id}}'+pageNewAy(1) width=30px> </td>-->
<!--            <td>{{:id}}</td>-->
             <td>{{:rid}}</td>
             <td>{{:title}}</td>
              <td>{{:category}}</td>
            
            <td><span class="status_{{:status}}">{{:status}}</span></td>
        </tr>
        {{/for}}
    </tbody>


</table>
</div>

<style>
    .status_2_done{
        background-color: aquamarine;
        padding: 4px;
    }
    
     .status_1_pending{
        background-color: lightpink;
         padding: 4px;
        
    }
    
</style>
    