<div id="printableArea"   title="Doctor_List" >


    <table  class="table_greyBorder" cellspacing="0" cellpadding="5" border="1"  >

        <thead>
            <tr class="bluestrp">
                <th style="width: fit-content"></th>
                <th style="min-width: 30px;">
                    Id
                    
                    
                      <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=id&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='id'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol "></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=id&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='id'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                    

                 
                </th>
               <th style="min-width: 30px;">
                    fid
               
                  <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=fixedId&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='fixedId'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol"></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=fixedId&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='fixedId'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                    
                
                </th>
                
                <th style="width: 100px" 
                    >
                    
                    Name
                     <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=name&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='name'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol"></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=name&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='name'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                    
                </th>
                <th  style="width: 90px"
                    class="headerSort_{{if obj.sortColumn=='department'}}{{if obj.sortOrder=='a' }}a{{else}}d{{/if}}{{/if}}">
                    
                    Department
                  <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=department&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='department'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol"></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=department&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='department'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                
                </th>
                <th style="width: 50px"> 
                    visit Day
               
                </th>
                
                <th style="width: 10px">Sun</th>
                 <th style="width: 10px">Mon</th>
                  <th style="width: 10px">Tue</th>
                   <th style="width: 10px">Wed</th>
                    <th style="width: 10px">Thu</th>
                     <th style="width: 10px">Fri</th>
                      <th style="width: 10px">Sat</th>
                      
                <th>
                    visitTime
               <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=visitTime&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='visitTime'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol"></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=visitTime&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='visitTime'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                
                </th>
                <th style="width: 60px">
                    remedies For
                <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=remediesFor&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='remediesFor'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol"></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=remediesFor&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='remediesFor'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                </th>
                <th>
                    
                    Remarks
                 <br>
                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=remarks&sortOrder=a"
                       >
                        <span class=" {{if obj.sortColumn=='remarks'}}{{if obj.sortOrder=='a' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                            <i class="fa fa-caret-up headerSortSymbol"></i>
                        </span>
                    </a>

                    <a class='headerSortSymbol' href="#/cmd?module={{:obj.module}}&action=/all/list&pageNumber=1&sortColumn=remarks&sortOrder=d"
                       >
                        <span class=" {{if obj.sortColumn=='remarks'}}{{if obj.sortOrder=='d' }}headerSort_faded{{else}}{{/if}}{{/if}}">
                               <i class="fa fa-caret-down headerSortSymbol"></i>
                        </span>
                    </a>
                </th>


            </tr>
        </thead>
        <tbody>

            {{for obj.pageList.content}}


            <tr class="firstrow"
                onclick="go({{:id}}, 'doctor')"
                >
                <td> 
                    <img class='img_round' 
                         src="/uploads/doctor/{{:id}}_profileImage.jpeg?time={{:updationTime}}" 
                         alt="{{:id}}"
                         >

                </td>

                <td>{{:id}}</td>
                <td>{{:fixedId}}</td>
                <td style="min-width: 40mm;">{{:name}}</td>
                <td>{{:department}}</td>
                <td>{{:visitDay}}</td>
                <td>{{if sun}}{{:sun}}{{/if}}</td>
                <td>{{if mon}}{{:mon}}{{/if}}</td>
                <td>{{if tue}}{{:tue}}{{/if}}</td>
                <td>{{if wed}}{{:wed}}{{/if}}</td>
                <td>{{if thu}}{{:thu}}{{/if}}</td>
                <td>{{if fri}}{{:fri}}{{/if}}</td>
                <td>{{if sat}}{{:sat}}{{/if}}</td>
                <td>{{:visitTime}}</td>
                <td>{{:remediesFor}}</td>
                <td>{{:remarks}}</td>

            </tr>
            {{else}}
            No members...
            {{/for}}
        </tbody>


    </table>
</div>