
<div id="printableArea"   title="Doctor_List"  >

    <br>
    <div class='w3-container'>
    <table  class="customers" cellspacing="0" cellpadding="5" border="1"  >

        <thead>
            <tr class="bluestrp">
                <th>
                  Sl <br>No
                </th>
                <th style="width: fit-content"></th>
                <th style="min-width: 30px;">
                    Id
                    {{:~sortByColumnUI('id',obj)}}
                </th>
               <th style="min-width: 30px;">
                    fid
               {{:~sortByColumnUI('fixedId',obj)}}
                </th>
                
                <th style="width: 100px" 
                    >
                    Name
                    {{:~sortByColumnUI('name',obj)}}
                </th>
                 <th style="width: 100px" 
                    >
                    sex
                    {{:~sortByColumnUI('sex',obj)}}
                </th>
                
                <th  style="width: 90px">
                  Department
                    {{:~sortByColumnUI('department',obj)}}
      
                </th>
                 <th>Fees</th>
                  <th >FeesList</th>
                   <th >Fee to Clin</th>
               
                
                <th style="width: 50px"> 
                    visit Day
                </th>
                 <th>
                    visitTime
                    {{:~sortByColumnUI('visitTime',obj)}}
                </th>
                
                <th style="width: 10px">Sun</th>
                 <th style="width: 10px">Mon</th>
                  <th style="width: 10px">Tue</th>
                   <th style="width: 10px">Wed</th>
                    <th style="width: 10px">Thu</th>
                     <th style="width: 10px">Fri</th>
                      <th style="width: 10px">Sat</th>
                      
               
                
                <th style="width: 60px">
                    remedies For
                    {{:~sortByColumnUI('remediesFor',obj)}}
                </th>
                
                <th>
                    Remarks
                    {{:~sortByColumnUI('remarks',obj)}}
                </th>


            </tr>
        </thead>
        <tbody>

            {{for obj.pageList.content}}


            <tr class="firstrow"
                onclick="go({{:id}}, 'doctor')"
                >
                
                 <td >
                    <span  class="">

                        {{:#index+1}} 
                    </span>

                </td>
                <td> 
                    <img class='img_round' 
                         src="/uploads/doctor/{{:id}}_profileImage.jpeg?time={{:updationTime}}" 
                         alt="{{:id}}"
                         >

                </td>

                <td>{{:id}}</td>
                <td>{{:fixedId}}</td>
                <td style="min-width: 40mm;">{{:name}}</td>
                <td style="text-align: center">{{:sex}}</td>
                <td>{{:department}}</td>
                <td>{{:fees}}</td>
                  <td>{{:feesList}}</td>
                    <td>{{:feeForClinic}}</td>
                
                <td>{{:visitDay}}</td>
                <td>{{:visitTime}}</td>
                <td>{{if sun}}{{:sun}}{{/if}}</td>
                <td>{{if mon}}{{:mon}}{{/if}}</td>
                <td>{{if tue}}{{:tue}}{{/if}}</td>
                <td>{{if wed}}{{:wed}}{{/if}}</td>
                <td>{{if thu}}{{:thu}}{{/if}}</td>
                <td>{{if fri}}{{:fri}}{{/if}}</td>
                <td>{{if sat}}{{:sat}}{{/if}}</td>
                
                <td>{{:remediesFor}}</td>
                <td>{{:remarks}}</td>

            </tr>
            {{else}}
            No members...
            {{/for}}
        </tbody>


    </table>
    </div>
</div>

