
Select a medicine stock <br>
Filter By medicineBrandName (മരുന്നിന്റെ പേര് അടിക്കാം )
<input  type="text" onkeyup="filter('medicineBrandName.brandName')" 
        accesskey="l" title="Enter name to search"
        >
<br>


<div class="Table">
    <div class="Title">

    </div>

    <div class="HeadingBackgroundDark">
        <div class="CellNoBorder"><p>id</p></div>
        <div class="CellNoBorder"><p>brandNameId</p></div>
        <div class="CellNoBorder"><p>vendor</p></div>
        <div class="CellNoBorder"><p>expiryDate</p></div>
        <div class="CellNoBorder"><p>batch</p></div>
        <div class="CellNoBorder"><p>Rate</p></div>
        <div class="CellNoBorder"><p>remain</p></div>
        <div class="CellNoBorder"><p>Actions</p></div>
    </div>


    {{for obj}}
    <div class="Row" id="select_{{:id}}"  >
        <div class="CellNoBorder" style="color:var(--color_l1)"> {{:id}} </div>
        <div class="CellNoBorder " 

             > 

            <button class="entity_select_selectButton"
                   
onclick="selectThis(
                 {
                 who:'{{:~root.moduleName}}',
                         id:{{:id}},
                         extra:'{{if medicineBrandName}}{{:medicineBrandName.brandName}}{{else}}-No name-{{/if}}'
                 }
                 )"
                    >
                {{if medicineBrandName}}
                {{:medicineBrandName.brandName}}
                {{/if}} 

            </button>



        </div>

        <div class="CellNoBorder">
            {{if vendor}}
            {{:vendor.name}}
            {{/if}} 
        </div>
        <div class="CellNoBorder">  {{:expiryDate}} </div>
        <div class="CellNoBorder">  {{:batch}} </div>
        <div class="CellNoBorder">  {{:sellingPrice}} </div>
        <div class="CellNoBorder {{if qtyRemaining<90}} w3-red {{/if}}"  >  {{:qtyRemaining}} </div>
        <div class="CellNoBorder"> 
            <a class="w3-btn" data-toggle="tooltip" title="Edit"
               onclick="populateCreate2(
                           '{{:~root.moduleName}}',
                           {{:id}},
                           newModal().id);"
              
               ><i class="fa fa-edit"></i>
            </a>

        </div>



        <d id='{{:id}}' 
           medicineBrandName.brandName=
           "{{if medicineBrandName}}
           {{:medicineBrandName.brandName}}
           {{/if}} "

           >
        </d>

    </div>




    {{/for}}
</div>
<br>
<br>



