
<!--medicineStock-->

<form id='form_medicineStock' method="post" 
    action="{{:renderInDiv}}#/cmd/post">  
    <input type='hidden' name='module_direct' value='medicineStock'>
    <input type='hidden' name='redirect' value=' #/cmdc?module=medicineStock&action=/all/list'>

    medicineStock
    <div id="printableArea"   
         title="MedicineStock_{{:id}}_{{if medicineBrandName}}{{:medicineBrandName.brandName}}{{/if}}" >

        id <span class="inp2" contenteditable="false" id="id"   data-link="id" >---</span>   <br>
        <input type="hidden" name="id" data-link="id" />
        <div style="float: right">qtyRemaining={{:qtyRemaining}}</div>
        
        <br>

        <fieldset>
            <legend>Vendor Related</legend>
            <div class="inp_outer" style="min-width:200px">
                <div class="title1">
                    vendor
                </div>

                <input  type="hidden" id="vendor" name="vendor" 
                        value= "{{if vendor}}{{:vendor.id}}{{/if}}" />



                <div style='border: 1px;' 
                     onclick="popup_selection_obj(
                                     {
                                         'entity_select': 'vendor',
                                         'input': 'vendor'
                                     })"
                     >
                    <span id="vendor_display" class="inp2" >     
                        {{if vendor!=null}}
                        {{:vendor.name}}
                        {{else}}
                        ----
                        {{/if}}
                    </span>
                </div>       
            </div> 

            <div class="inp_outer">
                <div class="title1">bill/Invoice Number</div>
                <span class="inp2" contenteditable="true" id="billNo"   data-link="billNo" >---</span>
                <input type="hidden" name="billNo" data-link="billNo" />
            </div>
            <div class="inp_outer">
                <div class="title1">dateOfPurchase</div>


                <input  type="hidden" id="dateOfPurchase" name="dateOfPurchase" 
                        value="{{if dateOfPurchase}}{{:dateOfPurchase}}{{else}}{{/if}}"
                        />


                <div style='border: 1px;' 
                     onclick="popup_selection_obj(
                                     {
                                         'entity_select': 'dateForOrganisation',
                                         'input': 'dateOfPurchase',
                                         'value': '{{:dateOfPurchase}}',
                                     })"
                     >
                    <span id="dateOfPurchase_display" class="inp2" >     
                        {{if dateOfPurchase}} {{:dateOfPurchase}}{{else}}
                        ----
                        {{/if}}
                    </span>
                </div>

            </div>


        </fieldset>
        <hr> 

        <fieldset>
            <legend>Basic</legend>
            <div class="inp_outer">
                <div class="title1">medicineBrandName</div>

                <input  
                    type="hidden" id="medicineBrandName" 
                    name="medicineBrandName" 
                    value= "{{if medicineBrandName}}{{:medicineBrandName.id}}{{/if}}" 
                    />


                <div style='border: 1px;' onclick="popup_selection_obj(
                                {
                                    'entity_select': 'medicineBrandName',
                                    'input': 'medicineBrandName'
                                }
                        )">
                    <span id="medicineBrandName_display" class="inp2" >     
                        {{if medicineBrandName}}
                        {{:medicineBrandName.brandName}} 
                        {{else}}
                        ----
                        {{/if}}
                    </span>
                </div>
            </div>








            <div class="inp_outer">

                <div class="title1">expiryDate (MM/yyyy)</div>
             
                <input  
                    type="hidden"
                    id="expiryDate"
                    name="expiryDate" 
                     value= "{{if expiryDate}}{{:expiryDate}}{{/if}}" 
                    
                    />
             


                <div style='border: 1px;' 
                     onclick="popup_selection_obj(
                                     {
                                         'value': '{{:expiryDate}}',
                                         'entity_select': 'dateForOrganisation',
                                         'input': 'expiryDate'
                                     })"
                     >
                    <span id="expiryDate_display" class="inp2" >     
                        {{if expiryDate}}
                        {{:expiryDate}}
                        {{else}}
                        ----
                        {{/if}}
                    </span>
                </div>       
            </div>




            <div class="inp_outer">
                <div class="title1">batch</div>
                <span class="inp2" contenteditable="true" id="batch" 
                       style="min-width: 100px"
                      data-link="batch" >---</span>
                <input type="hidden" name="batch" data-link="batch" />
            </div>


            <div class="inp_outer">
                <div class="title1">qtyPurchased</div>

                <input type="text" name="qtyPurchased" data-link="qtyPurchased"
                       style="width: 100px"
                       class="akr_input_text" required=""
                       />
            </div>

        </fieldset>


        <fieldset id="group2">
            <legend> Rate</legend>



            <div class="inp_outer" >
                <div class="title1">mrp</div>
                Rs.<input type="text" id="mrp" name="mrp" data-link="mrp"
                          class="akr_input_text" required="" style="width:90px"
                          />
            </div>
            <div class="inp_outer" >
                <div class="title1">sellingPrice</div>
                Rs.<input type="text" id="sellingPrice" name="sellingPrice" data-link="sellingPrice"
                          class="akr_input_text" required="" style="width:90px"
                          />
            </div>
            <div class="inp_outer" >
                <div class="title1">costPrice</div>
                Rs.<input type="text" id="costPrice" name="costPrice" data-link="costPrice"
                          class="akr_input_text" required="" style="width:90px"
                          />
            </div>


        </fieldset>

        <fieldset>
            <legend>Discount & Tax</legend>
            * Use 0.06 instead of 6% <br>
            <div class="inp_outer">
                <div class="title1">discount* </div>

                <input type="text" id="discount" name="discount" data-link="discount" 
                       class="akr_input_text" required=""
                       />
            </div>


            <div class="inp_outer">
                <div class="title1">cgst* </div>

                <input type="text" name="cgst" data-link="cgst"
                       class="akr_input_text" required=""
                       />
            </div>

            <div class="inp_outer">
                <div class="title1">sgst *</div>

                <input type="text" name="sgst" data-link="sgst" 
                       class="akr_input_text" required=""
                       />
            </div>

        </fieldset>

        <hr>


        <span >End</span>

<!--        <fieldset>
            <legend> Full details in JSON</legend>
            <span style=" width: 100px;display: inherit;">{{:~jsonise(~root)}}</span>

        </fieldset>-->
    </div>
</form>
