<!--doctor/CRU_template.html -->

<div id="printableArea"   title="DoctorId_{{:id}}_{{if name}}{{:name}}{{/if}}" >

    <div class="pageTitle">{{if id!=0}}  Existing Doctor : {{:name}} {{else}} New  Doctor {{/if}}  </div>

    <form id='form_doctor' method="post" action="{{:renderInDiv}}#/cmd/post">   
        <input type='hidden' name='module_direct' value='doctor'>
        <input type='hidden' name='redirect' value=' #/cmdc?module=doctor&action=/all/list'>
        <input type="hidden" name="id" data-link="id" />
        <table border="0">
            <tbody>
                <tr>
                    <td>
                        ID {{:id}} <br>

                        <div class="inp_outer" style="min-width:400px;">
                            <div class="title1">Name</div>
                            <input type="text" name="name" data-link="name" required class="akr_input_text"  />
                        </div>
                        <br>
                        <div class="inp_outer" style="min-width:400px;">
                            <div class="title1">Department</div>
                            <span class="inp2" contenteditable="true" id="department"   data-link="department" >---</span>
                            <input type="hidden" name="department" data-link="department" />
                        </div>
                        <br>
                        <div class="inp_outer" style="min-width:400px;" >
                            <div class="title1" >Description</div>
                            <span class="inp2" contenteditable="true" id="description"   data-link="description">---</span>
                            <input type="hidden" name="description" data-link="description" />
                        </div>
                        <br>
                        <div class="inp_outer" style="min-width:400px;" >
                            <div class="title1" >remediesFor</div>
                            <span class="inp2" contenteditable="true" id="remediesFor"   data-link="remediesFor" >---</span>
                            <input type="hidden" name="remediesFor" data-link="remediesFor" />
                        </div>
                    </td>


                    <td>
                        <div class="inp_outer" style="min-height:300px;"
                             onclick="document.getElementById('input_file_profileImage').click();"
                             >
                            <img  id="form_profileImage_img" 
                                  class="form_profileImage_img" 
                                  src="/uploads/doctor/{{:id}}_profileImage.jpeg?time={{:creationTime}}" 
                                  alt="doctor/{{:id}} not loaded"
                                  >
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <div class="inp_outer">
            <div class="title1">visitDay</div>
            <span class="inp2" contenteditable="true" id="visitDay"   data-link="visitDay" >---</span>
            <input type="hidden" name="visitDay" data-link="visitDay" />
        </div>
        <br>
        <div class="inp_outer">
            <div class="title1">sun</div>
            <input type="text" name="sun" data-link="sun" />
        </div>
        <br>
        
         <div class="inp_outer">
            <div class="title1">mon</div>
            <input type="text" name="mon" data-link="mon" />
        </div>
        <br>
         <div class="inp_outer">
            <div class="title1">tue</div>
            <input type="text" name="tue" data-link="tue" />
        </div>
        <br>
         <div class="inp_outer">
            <div class="title1">wed</div>
            <input type="text" name="wed" data-link="wed" />
        </div>
        <br>
         <div class="inp_outer">
            <div class="title1">thu</div>
            <input type="text" name="thu" data-link="thu" />
        </div>
        <br>
         <div class="inp_outer">
            <div class="title1">fri</div>
            <input type="text" name="fri" data-link="fri" />
        </div>
        <br>
         <div class="inp_outer">
            <div class="title1">sat</div>
            <input type="text" name="sat" data-link="sat" />
        </div>
        <br>
        
        
        <div class="inp_outer">
            <div class="title1">visitTime</div>
            <span class="inp2" contenteditable="true" id="visitTime"   data-link="visitTime" >---</span>
            <input type="hidden" name="visitTime" data-link="visitTime" />
        </div>

        <div class="inp_outer">
            <div class="title1">feesList</div>
            <span class="inp2" contenteditable="true" id="feesList"   data-link="feesList" >---</span>
            <input type="hidden" name="feesList" data-link="feesList" />
        </div>


        <div class="inp_outer">
            <div class="title1">fees</div>
            
            <input type="text" name="fees" data-link="fees" required class="akr_input_text"/>
        </div>



        <div class="inp_outer">
            <div class="title1">feeForClinic</div>
           
            <input type="text" name="feeForClinic" data-link="feeForClinic" required class="akr_input_text"/>
        </div>
        <br>
        <div class="inp_outer" style="min-width:200px;" >
            <div class="title1">contactPhone</div>
           
            <input type="tel" name="contactPhone" data-link="contactPhone" required=""  class="akr_input_text"/>
        </div>

        <div class="inp_outer">
            <div class="title1">address</div>
            <span class="inp2" contenteditable="true" id="address"   data-link="address" >---</span>
            <input type="hidden" name="address" data-link="address" />
        </div>
        <div class="inp_outer" style="min-width:200px;" >
            <div class="title1">email</div>
            <input type="email" name="email" data-link="email"  id="email" class="akr_input_text" required="" />
            <br>
            <span class="error" aria-live="polite"></span>

        </div>
        <br>
        <div class="inp_outer">
            <div class="title1">fixedId</div>
            <span class="inp2" contenteditable="true" id="fixedId"   data-link="fixedId" >---</span>
            <input type="hidden" name="fixedId" data-link="fixedId" />
        </div>

        <div class="inp_outer">
            <div class="title1">newId</div>
            <span class="inp2" contenteditable="true" id="newId"   data-link="newId" >---</span>
            <input type="hidden" name="newId" data-link="newId" />
        </div>

        <div class="inp_outer">
            <div class="title1">remarks</div>
            <span class="inp2" contenteditable="true" id="remarks"   data-link="remarks" >---</span>
            <input type="hidden" name="remarks" data-link="remarks" />
        </div>



        <div class="inp_outer"   onclick="popup_selection_obj(
                        {
                            'value': '{{:dateOfJoining}}',
                            'entity_select': 'dateForOrganisation',
                            'input': 'dateOfJoining'
                        }
                )">
            <input type="hidden" id="dateOfJoining" name="dateOfJoining" data-link="dateOfJoining" />
            <div class="title1">dateOfJoining</div>
            <span id='dateOfJoining_display' class="inp2">{{if dateOfJoining}}{{:dateOfJoining}}{{else}}2019-10-10{{/if}}</span>
        </div>


    </form>

    <form id="form_profileImage" 
          enctype="multipart/form-data" >
        <input  name='fileLabel' value="{{:id}}_profileImage" type="hidden"     >
        <input id="input_file_profileImage" name='file'  type="file" 
               onchange="submitFormAKR('form_profileImage', '/clinicPlus/api/doctor/profileImage');"
               style="display: none"
               >

    </form>
    <br>
</div>

