<!--appointment/fillForm.html-->
<div id="printableArea"   title="appt_{{:id}}_{{if name}}{{:name}}{{/if}}" >


    <div data-akr-printable="false" > 

        <div style="background-color: var(--color_l3);
             height: 50px">

            {{if doctor}}
            <a class="w3-btn w3-blue"  style="float: right"
               onclick2="patientCard_show({{:id}})"
               href="#/dummy?function=patientCard_show&id={{:id}}"
               >
                PatientCard 

            </a>

            {{else}}
            You must save to see the PatientCard

            {{/if}}
        </div> 


    </div>


    <div class="w3-bar-ay" data-akr-printable="false">
        <span class="w3-bar-item  tablink tabSelected " 
              onClick="openCity(event, 'Basic')">Basic</span>
        {{if id!=0}}
        <a class="w3-bar-item  tablink "
           onClick="openCity(event, 'Files')">Files</a>
        {{/if}}
    </div>


    <form id='form_appointment' method="post" 
          action="{{:renderInDiv}}#/cmd/post">  


        <div id="Basic" class="w3-container w3-border city ">

            <input type='hidden' name='module_direct' value='appointment'>
            <input type='hidden' name='redirect' value=' #/cmdc?module=appointment&action=/all/list'>
            <input type="hidden" name="id" data-link="id" />


            <div class="grid-container">
                <div class="item1">

                   

                    <span id="selectLarge_dateOfAppointment">
                        selectLarge_dateOfAppointment
                    </span> 
                    <br>

                    <!--patient-->
                    <span id="selectLarge_patient">
                        selectLarge_patient
                    </span>
                    <br>

                    <span id="selectLarge_doctor">
                        selectLarge_doctor
                    </span>
                    <br>

                    <span id="doctor_afterClick"
                          style="display: unset"
                          onclick="doctor_afterClick_fn()"
                          >
                    </span>
                    <br>


                </div>
                <div class="item2">


                    <span id="selectLarge_appointmentTypeEntity">
                        selectLarge_appointmentTypeEntity
                    </span>

                    <span id="appointmentTypeEntity_afterClick"
                          style="display: unset"
                          onclick="appointmentTypeEntity_afterClick_fn()"
                          >

                    </span>

                    <div class="inp_outer">
                        <span class="title1"> Fees  Level</span>

                        <select id="consultLevel"
                                class="inp2"
                                onchange=
                                "doctorFeesDecisionMaker
                                            ('{{if doctor }}{{:doctor.feesList}}{{/if}} ')"
                                >
                            <option value="0" selected="">first fee</option>
                            <option value="1">second fee</option>
                            <option value="2">third fee</option>
                        </select>
                    </div>




                    <div class="inp_outer" style="min-width: 200px;">
                        <div class="inp1" >
                            <div class="title1">remarks</div>
                            <input  type="text" id="remarks" name="remarks"
                                    data-link="remarks"  
                                    class="akr_input_text"
                                    /> 

                        </div>
                    </div> 
                    <br>

                    <fieldset>
                        <legend style="color:steelblue">Fees /Payment Details</legend>
                        <div style="font-size: 0.8em;display: inline-block;
                             color:steelblue;
                             "> 
                            FeesList :

                                {{if doctor }}
                                 <span id='feesList' >
                                {{:doctor.feesList}}
                                </span> 
                                {{else}}
                                <span id='feesList' >
                               
                                </span> 
                                {{/if}}
                            
                        </div>

                        <br>


                        <div class="inp_outer" >
                            <div class="inp1" >
                                <div class="title1">consultFee</div>
                                <!--<span data-link="consultFee"></span>-->
                                <input  type="text" id="consultFee" name="consultFee" 
                                        data-link="consultFee"
                                        style="width: 50px;    border: none;"
                                        class="akr_input_text" required=""
                                        /> 
                            </div>
                        </div>



                        <div class="inp_outer" > 
                            <div class="inp1" >
                                <div class="title1">feeForClinic</div>
                                <!--<span data-link="feeForClinic"></span>-->
                                <input  type="text" id="feeForClinic"
                                        style="width: 50px;    border: none;"
                                        name="feeForClinic" data-link="feeForClinic"
                                        class="akr_input_text" required="" 
                                        /> 
                            </div>
                        </div>



                    </fieldset>
                </div>
                <div class="item3">
                    <div class="inp_outer">
                        <div class="inp1" >
                            <div class="title1">tokenNumber</div>
                            <div style="background-color: var(--color-l3)">
                                {{if tokenNumber==0}} 
                                <!--                            Save to generate Token number -->
                                {{/if}}

                            </div>

                        </div>
                    </div>

                    <div class="inp_outer">
                        <div class="inp1" >
                            <div class="title1">bookId</div>
                            <input  class="inp2"
                                    type="text" id="bookId" name="bookId" data-link="bookId"   /> 
                        </div>
                    </div>

                    <span id="selectLarge_appointmentStatusEntity" >
                        selectLarge_appointmentStatusEntity
                    </span>
                    
                    
                     <div class="inp_outer" >
                        <div class="inp1" >
                            <div class="title1">Id</div>
                            {^{:id}}
                        </div>
                    </div>
                    <br>

                </div>

            </div>














        </div>
    </form>


    {{if id!=0}}
    <!--file uploads-->
    <div id="Files" class="w3-container w3-border city city_hide">

        {{if patient}}

        <form id="form_prescription" 
              enctype="multipart/form-data" >
            <div style="position: relative;top: 0px;display: none"> 
                p <input  name='patientId' value="{{:patient.id}}" type="text"     ><br>
                d <input  name='doctorId' value="{{:doctor.id}}" type="text"     ><br>
                name  <input  name='name' value="ssss" type="text"     ><br>
            </div>

            <hr>
            <select name="category" id="category" 

                    onchange="listFiles({{:patient.id}}, this.value, 'fileList')"  >
                <option >other</option>
                <option >prescription</option>
                <option >labReport</option>
            </select>

            <a onclick="document.getElementById('input_file_prescription').click()" 
               data-toggle="tooltip" title="Add New "  
               > <i class="fa fa-plus"> </i>
            </a>


            <input id="input_file_prescription" name='file'  type="file"
                   onchange="submitFormAKR('form_prescription', '/clinicPlus/api/patient/prescription');
                       listFiles({{:patient.id}}, document.getElementById('category').value, 'fileList');
                   "
                   style="display: none"
                   >
        </form>

        <div id="fileList" style=""> 
            {{:~listFiles(patient.id,'prescription','fileList')}}</div>

        {{else}}
        Patient is not set

        {{/if}}

    </div>

    {{/if}}

</div>

<style>
    .item1 { grid-area: i1; 
             /*border: solid black 1px;*/
    }
    .item2 { grid-area: i2;
             /*border: solid black 1px;*/
    }
    .item3 { grid-area: i3;
             /*border: solid black 1px;*/
    }


    .grid-container {
        display: grid;
        grid-template-areas:
            'i1 i2 i3'

            ;
        grid-gap: 10px;
        /*background-color: #2196F3;*/
        padding: 10px;
    }


</style>