
<center>



    {{for map.payload }}

    <div class="Table">
        <div class="Title">
            RETAIL BILL
        </div>

        <div class="Heading">
            <div class="Cell" 
                
                 ><ayu1>
                    SlNo
                </ayu1></div>

            <div class="Cell" 
                 style="width:250px;"><ayu1>
                    item/ BrandName
                </ayu1></div>
            <div class="Cell"><ayu1>Mfg</ayu1></div>

            <div class="Cell"><ayu1>Batch</ayu1></div>
            <div class="Cell"><ayu1>Exp</ayu1></div>
            <div class="Cell"><ayu1>Qty</ayu1></div>
            <!--<div class="Cell"><ayu1>Rate</ayu1></div>-->
            <!--<div class="Cell"><ayu1>Dis%</ayu1></div>-->
            <!--<div class="Cell"><ayu1>GST</ayu1></div>-->
            <div class="Cell"><ayu1>Rate</ayu1></div>
            <div class="Cell"><ayu1>Amount</ayu1></div>
        </div>

        {{for pharmacyBillRowEntitys}}
        <div 
            class="Row"   
            onclick="go({{:id}}, 'pharmacyBillRow')"
            id="row_{{:id}}" 
            {{if idSpecial!=1}}
            {{else}}
            data-akr-printable='false'
            {{/if}}
            title="{{if medicineStock}}{{:medicineStock.id}}{{/if}}"
         
            {{if #getIndex()==1 }}  accesskey="q" {{/if}}
            >
            {{if medicineStock}}
            <div class="Cell"  >  
                <ayu1>
                    {{:#getIndex()}}
                </ayu1>      
            </div>

            <div class="CellNoPadding">
                <ayu1>
                   <button 
                    class="button_none" 
                          style="text-align: left;"
                    >  {{if medicineStock.medicineBrandName}}
                        {{:medicineStock.medicineBrandName.brandName}}
                        {{/if}}
                </button>
                </ayu1>    
                
            </div>
            <div class="Cell">            <ayu1>
                    {{:medicineStock.medicineBrandName.company}}
                </ayu1>      
            </div>

            <div class="Cell">            <ayu1>
                    {{:medicineStock.batch}}
                </ayu1>    
            </div>
            <div class="Cell" style="min-width: 66px">            <ayu1>
                    {{:~expiryDate_mmyyyy(medicineStock.expiryDate)}}
                </ayu1>      
            </div>
            <div class="Cell">         
                <ayu1 style="float: right">{{:qty}} </ayu1>  
            </div>

            <!--                <div class="Cell">            <ayu1>
                                    {{:medicineStock.rate}}
                                </ayu1>
                            </div>-->


            <!--                <div class="Cell">            <ayu1>
                                    {{:medicineStock.discount}}
                                </ayu1>        </div>-->


            <!--                <div class="Cell">            <ayu1>
                                    {{:medicineStock.gst}}
                                </ayu1>        </div>-->


            <div class="Cell">            
                <ayu1 style="float: right">
                    {{:medicineStock.sellingPrice}}
                </ayu1>      
            </div>

            <div class="Cell" >            
                <ayu1 style="float: right">
                    {{:amount}}
                </ayu1>        
            </div>
            {{else}}

            {{if idSpecial==1}}
            <span style="position: fixed;bottom: 0px;
                  background-color: steelblue;width: 100%"> 
                Round Off Rs {{:amount}}</span>
            {{else}}
            <span>select Medicine</span>
            {{/if}}
            
            
            {{/if}}
        </div>

        {{/for}}
        
        <div class="Heading">
            <div class="Cell"   ></div>
            <div class="Cell"
                 title="add new" 
                 >
                <div  data-akr-printable="false"
                      class="w3-padding"
                      
                      >
                    <button 
                        accesskey="a"
                        type="button"
                            class="w3-button w3-green"
                            style="color:green"
                            onclick="go(-1, 'pharmacyBillRow',{{:billId}})"
                            >
                         + 
                    Add New
                    </button>
                    
                </div>
            </div>
            <div class="Cell"></div>
            <div class="Cell"></div>
            <div class="Cell"></div>
            <div class="Cell"></div>
            <div class="Cell"></div>
            <!--<div class="Cell" style="font-size: 14px;">{{:gstTotal}}</div>-->
            <!--<div class="Cell"  style="font-size: 14px;">{{:mrpTotal}}</div>-->
            <div class="Cell"  style="font-size: 14px;">
                <span style="float: right">{{:amountTotal}}
                </span>
            </div>
        </div>
    </div>

    <!--
            <table >
                <tbody>
                    <tr>
                        <td>
                            Taxable Amount :
                        </td>
                        <td style="text-align: right">
                            {{:taxableAmount}}  ,
                        </td>
                        <td style="text-align: right">
                            CGST : 
                        </td>
                        <td style="text-align: right">
                            {{:gstTotal/2}},
                        </td>
    
                        <td style="text-align: right">
                            SGST :  
                        </td>
                        <td style="text-align: right">
                            {{:gstTotal/2}}
                        </td>
                    </tr>
                </tbody>
            </table>-->

    <br/>


    Paid Amount :  <span style="font-weight: bold;font-size: 18px">
        {{:amountTotalRounded}}</span>
    (
    {{:amountTotalWords}}  )
    <br>
    <span style="right: 100px;
          position: absolute;">{{:pharmacistName}}  (Pharmacist)</span>

    <br>
    <span colspan="3" style="text-align: center">
        <!--We provided Rs.{{:freeOfCost}}  value(s) items free of Cost.-->
    </span>




    {{else}}
    <h1>oo  not exist</h1> 
    {{/for}}

</center>
{{if status=="success"}}

{{else}}
<div style="background-color: red;padding: 20px;font-size: 30px;"> 
    some problem is there
    {{if message}}{{:message}}{{/if}}

</div>
{{/if}}