<!--doctor-->
 
<div class="inp_outer" 
     style="min-width: 200px;
     background-color: #65b6dc36 ;
     {{if doctor}} {{if doctor.id==0}} border: dashed red 4px ;{{/if}} {{/if}}
     ">
    
    <input id="doctor" name='doctor' type="hidden" 
           value="{{if doctor}}{{:doctor.id}}{{else}}0{{/if}}"
           > 
    <div class="inp1" 
         onclick="popup_selection_obj(
                         {
                             'entity_select': 'doctor',
                             'input': 'doctor{{:id}}'
                         }
                 )"
         >
        <div class="title1"> Doctor Name </div>

        <span id="doctor_display" class="inp2" title="">
            {{if doctor}} {{:doctor.name}} 
            <br>
            <span style="font-size: 1em;text-align: right;">
                Fees List: 
                {{:doctor.feesList}}
                <span style="float:right">
                    Clinic:{{:doctor.feeForClinic}}
                </span> 
                <br> Dept: {{:doctor.department}}
                <br> phone: {{:doctor.contactPhone}}
                 <br> email: {{:doctor.email}}
                
                
            </span>
            {{else}} --- {{/if}}

        </span>

    </div>
</div>