<div class="inp_outer"   onclick="popup_selection_obj(
                {
                    'value': '{{if pharmacyBill}}{{:pharmacyBill.id}}{{else}}----{{/if}}',
                    'entity_select': 'pharmacyBill',
                    'input': 'pharmacyBill'
                }
        )">
    <input type="hidden" id="pharmacyBill" name="pharmacyBill" 

           value="{{if pharmacyBill}}{{:pharmacyBill.id}}{{else}}----{{/if}}" />
    <div class="title1">pharmacyBill</div>
    <span id='pharmacyBill_display'
          style="float: none"
          class="inp2">
        {{if pharmacyBill}}
        {{:pharmacyBill.id}}
        {{else}}Not set{{/if}}
    </span>
    <span style="
          font-style: italic;
          float: right;position: relative;left: 30px;" 
          id="pharmacyBill_display2">
        {{if pharmacyBill}}
        
        dateOfBill: {{:pharmacyBill.dateOfBill}} <br>

        {{if pharmacyBill.appointment}}
        appointment.id: {{:pharmacyBill.appointment.id}}
        {{/if}}

        {{else}}Not set{{/if}}

    </span>
</div>